/*Version de desktop*/
/*Header*/
header {
    background-color: #0057B8;
}
.menuContainer {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    width: auto;
    height: 80px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.menuContainer .menuPrincipal .menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;    
    color: white;
} 

.menuContainer .menuPrincipal .menu ul .li {
    
}

.search {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; 
    border-radius: 25px;
    padding: 5px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    width: 300px;
    font-size: 16px;
    color: #333;
    background-color: transparent;
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 10px;
    color: #005bbb;
}

.search-button svg {
    width: 24px;
    height: 24px;
}

/*Main*/
/*Seccion 1*/
.contenedorDeSeccion1 {
    width: 100%;
    display: flex;
    
}
.contenedorDeSeccion1 .imagenDeFondo{
    position: relative;   
}
    

.contenedorDeSeccion1 .imagenDeFondo img{
    width: 100%;
    height: auto;
    
}

.wrapper {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;       
}

.textoDelWrapper .texto {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.textContainer {
    padding-top: 5%; 
    margin-top: 12%;   
    margin-left: 10%;
    width: 35%;
    height: 100%;
}

.wrapper .textoDelWrapper{
    width: 100%;    
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
}
.wrapper .textoDelWrapper .textoImagenWrapper img{
    width: 100%;    
    height: auto;    
}


.bottonDelWrapper .bottonDeComprarAhora {
    background-color: #F78832;
    color: #f8f9fa;
    font-size: 1rem;
    border: 0;
    width: 12rem;
    height: 2.5rem;
    border-radius: 50px;
    
}

/*Seccion 2*/
.seccionDeCategorias {
    width:auto;
    height: auto;
    background-color:#F8F6F5;
    padding: 3%;
}

.contedorCategorias {
    
}

.imagenesCategorias {        
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-direction: row;  
    justify-content: center;    
    align-items: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;    
}

.imagenesCategorias {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.imagenesCategorias img{
    width: 100%;
    height: auto;
}

.categoriasTitulo .titulC {
    color: #0E5FAC;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin: 0;
}
/* Seccion 3*/
.seccion3 {
    width: auto; 
    height: auto;   
    display: flex;
    align-items: center;
}

.seccion3 .banner3 img {
    width: 100%;
    height: auto;    
}

.textoBanner3 {
    position: absolute;
    width: 100%;
    max-width: 27%;
}

.tituloSeccion3 {
    font-family: 'NombreDeLaFuente', sans-serif;
    font-size: 2rem;
    font: bold;
    color: #93D500;    
}

.textoSeccion3 {
    font-family: 'NombreDeLaFuente', sans-serif;
    font-size: 1rem;
    font: bold;
    color: #93D500;
}

.seccion3 .textoBanner3{ 
    margin-left: 100px;
    margin-top: auto;
    
}

.seccion3Boton {
    border: 0;
    background-color: #93D500;
    padding: 15px;
    width: auto;
    height: auto;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
}

/*Footer*/
/*Seccion 1*/
.footer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.seccion1Footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.matelLogo {
    width: 25%;
    justify-content: center;
    align-items: center;
}

.matelLogo img{
    width: 100%;
    height: auto;
}

.subscribe{
    width: 70%;
    justify-content: center;
    align-items: center;
}

.contenedorDeSubscribe {
    width: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0057B8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;    
}

.contenedorDeSubscribe p{
    width: 25%;
    margin: 1px;
    color: white;
    font-size: 1.2em;
}

.input-container {
    width: 75%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #ccc;
}

.input-container input {
    
    border: none;
    padding: 10px 15px;
    flex-grow: 1;
    border-radius: 25px 0 0 25px;
}

.input-container button {
    background-color: #f00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.input-container button:hover {
    background-color: #d00;
}

/*Seccion 2*/
.seccion2Footer{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;        
}

.seccion2Footer li{
    list-style-type: none;    
    padding-top: 1rem;
}

.seccion2Footer li{
    color: grey;
    list-style-type: none;    
    padding-top: 1rem;
}

.seccion2Footer .titulo{
    color: black;
    font-weight: bold;
    
}

/*Signature*/
.signature{
    width: 100%;
    height: auto;
    display: flex;    
    justify-content: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;    

}

.contenedorSignature {
    text-decoration: none;
    width: 85%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;        
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px grey solid;
}

.signatureLink {
    color: grey;
    
}