header {
    background-color: #0057B8;
}

.menuContainer {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    width: auto;
    height: 80px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.menuContainer .menuPrincipal .menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;    
    color: white;
} 

.menuContainer .menuPrincipal .menu ul .li {
    
}

.search {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; /* Fondo blanco de la barra de búsqueda */
    border-radius: 25px; /* Bordes redondeados */
    padding: 5px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    width: 300px;
    font-size: 16px;
    color: #333;
    background-color: transparent;
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 10px;
    color: #005bbb; /* Color del ícono de búsqueda */
}

.search-button svg {
    width: 24px;
    height: 24px;
}